
## <summary>policy for epr</summary>


########################################
## <summary>
##	Transition to epr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`epr_domtrans',`
	gen_require(`
		type epr_t, epr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, epr_exec_t, epr_t)
')


########################################
## <summary>
##	Execute epr server in the epr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`epr_initrc_domtrans',`
	gen_require(`
		type epr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, epr_initrc_exec_t)
')


########################################
## <summary>
##	Search epr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`epr_search_lib',`
	gen_require(`
		type epr_var_lib_t;
	')

	allow $1 epr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read epr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`epr_read_lib_files',`
	gen_require(`
		type epr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, epr_var_lib_t, epr_var_lib_t)
')

########################################
## <summary>
##	Manage epr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`epr_manage_lib_files',`
	gen_require(`
		type epr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, epr_var_lib_t, epr_var_lib_t)
')

########################################
## <summary>
##	Manage epr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`epr_manage_lib_dirs',`
	gen_require(`
		type epr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, epr_var_lib_t, epr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a epr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`epr_admin',`
	gen_require(`
		type epr_t;
		type epr_initrc_exec_t;
		type epr_var_lib_t;
	')

	allow $1 epr_t:process { ptrace signal_perms };
	ps_process_pattern($1, epr_t)

	epr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 epr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, epr_var_lib_t)

')

